.ui-view
  .main.box_message_view
    .data-matched-partners
      .box_message_inner_left
        .box_matching_summary
          %p.matching_summary_text ◯人の女性とマッチングしています
        .box_recommend
          %p.recommend_title メッセージを見逃しているかも？
          %ul.recommend_user_list
            %li.recommend_user_item
              %a
                %img.user_photo
                %p.user_info 名前 年齢
        %ol.box_matching_list.box_inner_scroll
          %li.matching_item
            %a
              %img
              .info_inner
                .user_info01
                  %span 名前
                  %span 年齢
                  %span 居住
                .user_info02
                  %p.message 最新のメッセージはありません
                %p.login_time 7/14 20:58
        .box_button_withdrawal
          %a.button_c.button_white_a 退会者を表示
      .box_message_inner_right
        .data-messages
          .box_message_exchange_title
            %p.user_name 名前 年齢 居住区
          .box_message_init_attention
            .box_message_have_messages
              %p 11/18(水)
              .you_message
                .box_message_info
                  %p.message_text これは私のメッセージです
                  %p.after
              .matching_message
                .box_message_info
                  %p.message_text これは相手のメッセージです
                  %p.after
            / %p メッセージを送りましょう！（無料）
            / %p 「一通目のメッセージ」でメールアドレス・LINE ID・Facebookアカウント・携帯電話番号などあなたを特定できる個人情報は送信できません。
            / .message-space
            /   %p.hr_date 7/14(金)
            /   .their_message
            /     %a
            /       %img
            /     .box_message_info
            /       %p.message_user_name なまえ
            /       %p.message_text　本文
            /       %p.message_send_time 時間
            %p.to_profile 相手さんのプロフィールを確認する。
            .ps-scrollbar-y-rail
          .box_message_action
            %textarea.message_textarea
            .box_message_action_inner
              %ul.message_option_list
                %li.message_option_item
                  %button.button_message_submit.button_b.button_blue_a 送信
                %li.message_option_item
                  %button.button_open_sticker_view.button_b.button_white_a.fa.fa-smile-o
                %li.message_option_item
                  %button.button_photo_upload.button_b.button_white_a.fa.fa-camera
            .box_other_action
              %p.other_action_block
                %a.button_b.button_white_a
                  %span.fa.fa-times 表示設定
          .box_banner_a バナー
          .box_message_note
            %p.message_note_title メッセージ送信時のご注意
            .message_note_detail
              %p.note_text メッセージを送る際は、以下のような点に気をつけてください。他のユーザーからの違反報告があった場合は、警告表示や強制退会となる場合もありますので、ご注意ください。
              %ul.note_list
                %li.note_item 
                  %em メッセージには誠実に対応してください。
                  送信前に相手を不快にさせるような内容ではないか確認しましょう。実際に会うことになった際は、約束の場所・日時を守りましょう。
                %li.note_item 
                  %em ネットワークビジネス・不動産投資への勧誘、その他Pairsの趣旨から離れたメッセージの送信は、利用規約で禁止されています。
                %li.note_item 
                  %em Pairs内外に関わらず、上記のようなメッセージを受け取られましたら直ちに通報機能をご利用ください。
              %p.note_text ※健全なサービスを運営する目的で運営者がメッセージの内容を確認・削除する場合があります。これに同意した上で送信してください
