#like_form
  -if current_user.liking?(user)
    %button.button_white_a "見てね"
  -else
    =form_for(current_user.liking_likes.build(liking_id: user.id)) do |f|
      = f.hidden_field :liking_id
      = f.submit "いいね", class: "button_white_a"
