%footer#main_footer
  .main_footer
    .foot-banner バナーだよ
    %nav
      %ul.float
        %li.footer_navi_item
          %a Pairsとは
        %li.footer_navi_item
          %a 幸せレポート
        %li.footer_navi_item
          %a 安心の常時監視体制
        %li.footer_navi_item
          %a 安心のセキュリティ
        %li.footer_navi_item
          %a ヘルプ
        %li.footer_navi_item
          %a お問い合わせ
      %ul.float
        %li.footer_navi_item
          %a 会社概要
        %li.footer_navi_item
          %a 利用規約
        %li.footer_navi_item
          %a プライバシーポリシー
        %li.footer_navi_item
          %a 特定商取引法に基づく表示
        %li.footer_navi_item
          %a 資金決済法に基づく表示
    .footer_label
      .footer_label_horizontal_box
        =image_tag "truste_ja.png"
        =image_tag "SSL.png",class: "right-img"
    %p.footer_approved インターネット異性紹介事業届出済み （受理番号1145141919）
    %small.footer_copyright (c) eureka, inc
