%header.main_header
  .box_header_inner
    =link_to image_tag("logo_pairs.png"),root_path
    = link_to "Facebookログイン", user_facebook_omniauth_authorize_path
    .header_logo
      %p.pairs_concept Facebookではじめる恋愛・結婚
      %i.fa.fa-comments-o
        %a.hide
