.ui-view
  .main.box_serch_view.contents_padding
    .box_notice_summary
      %ul.notice_list
        %li.notice_item
          %a Pairsからのお知らせが◯件あります
    .banner
      %p.banner__message バナー
    .box_search_menu
      .button_search_setting
        %a.button_b.button_white_a 
          %span 検索条件
      %p.search_result_count ◯人中 1~16人を表示
      %nav.box_change_view_tabs
        %ul.change_view_tabs
          %li.tab_item.tab_item01.is_current
          %li.tab_item.tab_item02
    .box_grid_header
      .box_grid_header01
        %p.header_display_label 表示人数
        .header_display_select
          %select.customSelect.button_white_a
            %option{value: "16"} 16人
            %option{value: "32"} 32人
            %option{value: "64"} 64人
            %option{value: "96"} 96人
            %option{value: "128"} 128人
      .box_grid_header03
        %span.total_like_number_desc いいねをあと
        %em
          %span 46人押しましょう！
      .box_grid_header02
        %button.button_b.button_white_a.button_show_pickup 今日のピックアップ
    .box_list_view_user
      %ul.list_view_users
        -@searches.each do |user|
          %li.list_view_user_item
            .box_user_photo
              =image_tag(user.image,size: "150x150")
            .box_user_info01
              %span.user_summary ●
              %span.user_area= user.birthplace
              %span.user_age= "#{user.age} 歳" 
            .box_user_info02
            .box_user_info03
              %i.fa.fa-thumbs-o-up 1
              %i.fa.fa-heart.user_chemistry 86%
            .user_tweet
              .user_tweet_body よろしくお願いします！
            =render "users/like_form", user: user
      =paginate @searches
      .box_like_remaining
        %p いいねをあと
        %em
          %span#total_like_numbers_footer 46人押せます！


