.side_contents
  .profile_summary
    .profile_photo
      =link_to image_tag(current_user.image,class: "side_image"),profile_path(current_user)
    .profile_name
      =link_to current_user.name,profile_path(current_user)
    .profile_status
      %p.is_free_member 無料会員
  .my_profile_input_rate
    %p.input_late_label プロフィール入力率 100%
    .input_rate_graph_value
      .is_percent_100
  .box_my_status
    %ul.my_status_list
      %li.my_status_item.leftover_like
        %p.status_label 残りのいいね数
        %p#total_like_numbers
          .stats_value
        %a#sidemenu_addlike.button_c.button_orange_a.link_more 追加する
      %li.my_status_item.leftover_point
        %p.status_label ポイント残高
        %p#total_point_numbers
          .stats_value
        %a#sidemenu_addlike.button_c.button_orange_a.link_more 追加する
  .box_my_private_mode
    .box_pm_state 
      .pm_state_image
        %p.pm_state_text プライベートモードがOFFになっています。
      .link_pm_setting
        %a プライベートモードとは？
  .box_gnavi
    .box_gnavis01
      %ul
        %li.gnavi_item
          %a さがす
        %li.gnavi_item
          %a お相手をさがす
    .box_gnavis02
      %ul
        %li.gnavi_item
          %a いいね
        %li.gnavi_item
          %a 相手からのいいね！
        %li.gnavi_item
          %a 自分からのいいね！
        %li.gnavi_item
          %a お気に入り
    .box_gnavis03
      %ul
        %li.gnavi_item
          %a コミュニティ
        %li.gnavi_item
          %a コミュニティを探す
    .box_gnavis04
      %ul
        %li.gnavi_item
          %a 有料サービス
        %li.gnavi_item
          %a 有料会員とは？
        %li.gnavi_item
          %a プレミアムオプション
        %li.gnavi_item
          %a Pairsポイント
    .box_gnavis05
      %ul
        %li.gnavi_item
          %a 足あと
        %li.gnavi_item
          %a 足あと
    .box_gnavis06
      %ul
        %li.gnavi_item
          %a 各種設定
        %li.gnavi_item
          %a 通知/いいね上限
        %li.gnavi_item
          %a Facebook友達更新
        %li.gnavi_item
          %a 非表示・ブロック
        %li.gnavi_item
          %a オフラインモード設定
    .box_gnavis07
      %ul
        %li.gnavi_item
          %a 初めての方へ
        %li.gnavi_item
          %a 男性会員限定
        %li.gnavi_item
          %a ヘルプ
